@import "tailwindcss";
.w-md-editor-preview ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.w-md-editor-preview ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.w-md-editor-preview li {
  margin-bottom: 0.3rem;
}
